{% extends './generate_tmp.html' %}
{% load static %}
{% load tags %}
{% block title %} Дистанция {% endblock %}

{% block content_sub %}

<div class="ui stackable grid" style="margin-top: 5px">
	<div class="twenty wide column">
		
		<div class="ui stackable grid">
			<div class="seven wide column">
				<form method="GET" action="{% url 'distance' %}" name="filter">
					<label for="">Дата: </label><br>
					<label for=""> <b>C</b></label>
					<input type="date" name="date_to" value="{% if date_now %}{{date_now}}{% else %}{{datetime}}{% endif %}"><br><br>
					<label for=""> <b>По</b> </label>
					<input type="date" name="date"  value="{% if date %}{{date}}{% else %}{{datetime}}{% endif %}"><br><br>
					<label for="">Время:</label><br>
					<label for=""> <b>C</b></label>
					<input type="time" name='time_from' value="{% if time_from_search %}{{time_from_search}}{% endif %}">
					<label for=""> <b>По</b> </label>
					<input type="time" name='time_to' value="{% if time_to_search %}{{time_to_search}} {% endif %}"><br><br>
					<button type="submit" class="ui button">
						Поиск
					</button>
				</form>
			</div>
			<div class="seven wide column">
				<h4>Введите границы критических показателей</h4>
				<table class="ui table">
					<tbody>
						<tr >
							<td class="collapsing" width="80">
								Мин. значение
							</td>
							<td><input type="number" id="distance_min" min="0" max="100000" value="{{current_pacient.distance_min}}" style="width: 50px;float: right;" oninput="validity.valid||(value='');"></td>
						</tr>
						<tr >
							<td class="collapsing" width="80">
								Макс. значение
							</td>
							<td><input type="number" id="distance_max" min="0" max="100000" value="{{current_pacient.distance_max}}" style="width: 50px;float: right;" oninput="validity.valid||(value='');"></td>
						</tr>
					</tbody>
				</table>
				<button class="ui button" id="parameters" style="float: right;">Сохранить</button>
			</div>

			<div class="seven wide column">
				<div class="checkboxex">
					<div class="text_filter">Фильтр для графика:</div>
					<div class="item_checkbox">
						<input type="checkbox" id="crit_check" name="crit_check" onchange="schedule();">
			 			<label for="crit_check">Границы критических показателей</label>
					</div>
					<div class="item_checkbox">
						<input type="checkbox" id="zone_check" name="zone_check" onchange="schedule()">
			 			<label for="zone_check">Границы зоны риска</label>
					</div>
					<div class="item_checkbox">
						<input type="checkbox" id="ma_check" name="ma_check" onchange="schedule()">
			 			<label for="ma_check">Скользящая средняя</label>
					</div>
					<div class="item_checkbox">
						<input type="checkbox" id="trand_check" name="trand_check" onchange="schedule()">
			 			<label for="trand_check">Границы развития тенденции</label>
					</div>
				</div>
			</div>

			<div class="seven wide column">
				<h4>Введите границы зоны дистанции</h4>
				<table class="ui table">
					<tbody>
						<tr >
							<td class="collapsing" width="80">
								Мин. значение
							</td>
							<td><input type="number" id="distance_zone_min" min="0" max="100000" maxlength="3" value="{{current_pacient.distance_zone_min}}" style="width: 50px;float: right;"oninput="validity.valid||(value='');"></td>
						</tr>
						<tr>
							<td width="80">
								Макс. значение
							</td>
							<td><input type="number" id="distance_zone_max" min="0" max="100000" value="{{current_pacient.distance_zone_max}}" style="width: 50px;float: right;" oninput="validity.valid||(value='');"></td>
						</tr>
					</tbody>
				</table>
				<button class="ui button" id="parameters_zone" style="float: right;">Сохранить</button>
			</div>
			<div class="seven wide column">
				<h4>Введите границы тренда дистанции</h4>
				<table class="ui table">
					<tbody>
						<tr >
							<td class="collapsing" width="80">
								Мин. значение
							</td>
							<td><input type="number" id="distance_trand_min" min="0" max="100000" maxlength="3" value="{{current_pacient.distance_trand_min}}" style="width: 50px;float: right;"oninput="validity.valid||(value='');"></td>
						</tr>
						<tr>
							<td width="80">
								Макс. значение
							</td>
							<td><input type="number" id="distance_trand_max" min="0" max="100000" value="{{current_pacient.distance_trand_max}}" style="width: 50px;float: right;" oninput="validity.valid||(value='');"></td>
						</tr>
					</tbody>
				</table>
				<button class="ui button" id="parameters_trand" style="float: right;">Сохранить</button>
			</div>
			<!-- <div class="seven wide column">
				<h4>Введите Границы развития дистанции</h4>
				<table class="ui table">
					<tbody>
						<tr >
							<td class="collapsing" width="80">
								Мин. значение
							</td>
							<td><input type="number" id="distance_up_min" min="0" max="100000" maxlength="3" value="{{current_pacient.distance_up_min}}" style="width: 50px;float: right;"oninput="validity.valid||(value='');"></td>
						</tr>
						<tr>
							<td width="80">
								Макс. значение
							</td>
							<td><input type="number" id="distance_up_max" min="0" max="100000" value="{{current_pacient.distance_up_max}}" style="width: 50px;float: right;" oninput="validity.valid||(value='');"></td>
						</tr>
					</tbody>
				</table>
				<button class="ui button" id="parameters_up" style="float: right;">Сохранить</button>
			</div> -->
		
		</div>
		 
		<div class="column" style="margin-top: 30px;">
			<div class="tabs" style="margin-bottom: 30px;">
				<input type="radio" name="tab-btn" id="tab-btn-1" value="" data-toggle="tab" checked>
				<label for="tab-btn-1">Список</label>
				<input type="radio" name="tab-btn" id="tab-btn-2" data-toggle="tab" value="">
				<label for="tab-btn-2">График</label>

				<div id="content-1">
					<table class="ui  very compact unstackable selectable olive table" id="myTable_two">
						<thead style="font-size: 11px; text-align: center;">
							<tr>
								<th width="5" >№</th>
								<th width="200">Шагов / Метров</th>
								<th width="80">Дата измерения</th>
								<th width="200">Название устройства</th>
							</tr>
						</thead>
						<tbody style="font-size: 11px; text-align: center;">
							{% for count, device in devices %}
							<tr>
								<td>{{count}}</td>
								<td>{{device.CountStp}} / {{device.metrs}}</td>
								<td>{{device.get_time}}</td>
								<td>{{device.android_mac.mac_adress}}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="12" style="text-align: center;"> Нет данных !</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div id="content-2">
					<canvas id="speedChart_distance" width="550" height="250"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<style scoped>
	@media screen and (max-width: 767px){
		.ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {	
			width: calc(100%) !important;
			display: inline-flex !important;
			flex-direction: column;
		}
	}
</style>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{% static 'js/show_data_in_graph.js' %}"></script>
<script>
var lineChart;
var speedCanvas = document.getElementById("speedChart_distance");
let data_distance = {
		data : {{data_CountStp_for_graph|safe}},
		name : "Кол-во шагов",
        min : {{current_pacient.distance_min}},
        max :  {{current_pacient.distance_max}},
        zone_min : {{current_pacient.distance_zone_min}},
        zone_max : {{current_pacient.distance_zone_max}},
		trand_min : {{current_pacient.distance_trand_min}},
        trand_max : {{current_pacient.distance_trand_max}},
		ma : {{data_MA_for_graph|safe}},
        data_time : [{{data_time_for_graph|safe}}],
		speedCanvas : speedCanvas
	}

let distance_graph = new Show_data(data_distance)

document.addEventListener("DOMContentLoaded", () => {
	lineChart = distance_graph.show()
	// var speedCanvas = document.getElementById("speedChart_distance");

	// Chart.defaults.global.defaultFontFamily = "Lato";
	// Chart.defaults.global.defaultFontSize = 18;

	// var dataFirst = {
	// 	label: "",
	// 	data: {{data_CountStp_for_graph|safe}},
	// 	lineTension: 0,
	// 	fill: true,
	// 	borderColor: 'blue'
	// };


	// var speedData = {
	// 	labels: [{{data_time_for_graph|safe}}],
	// 	datasets: [dataFirst] 
	// }


	// var chartOptions = {
	// legend: {
	// 	display: true,
	// 	position: 'top',
	// 	labels: {
	// 	boxWidth: 1,
	// 	fontColor: 'black'
	// 	}
	// }
	// };
	// lineChart = new Chart(speedCanvas, {
	// type: 'line',
	// data: speedData,
	// options: chartOptions
	// });
});

function schedule(){
	var crit_check = document.getElementById('crit_check').checked;
	var zone_check = document.getElementById('zone_check').checked;
	var ma_check = document.getElementById('ma_check').checked;
	var trand_check = document.getElementById('trand_check').checked;

	lineChart.destroy()
	lineChart = distance_graph.show(crit_check, zone_check, ma_check, trand_check)

	// Chart.defaults.global.defaultFontFamily = "Lato";
	// Chart.defaults.global.defaultFontSize = 18;

	// var dataFirst = {
	// 	label: "Кол-во шагов",
	// 	data: {{data_CountStp_for_graph|safe}},
	// 	lineTension: 0,
	// 	fill: true,
	// 	borderColor: 'blue'
	// };

	// var dataSecond = {
	// 	label: "min",
	// 	data: [{% for i in data_CountStp_for_graph %}{{current_pacient.CountStp_min}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'red',
	// 	pointBorderColor: 'transparent',
	// };

	// var dataTherd = {
	// 	label: "max",
	// 	data: [{% for i in data_CountStp_for_graph %}{{current_pacient.CountStp_max}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'red',
	// 	pointBorderColor: 'transparent',
	// };

	// var dataFour = {
	// 	label: "min_zone",
	// 	data: [{% for i in data_CountStp_for_graph %}{{current_pacient.CountStp_zone_min}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'green',
	// 	pointBorderColor: 'transparent',
	// };

	// var dataFif = {
	// 	label: "max_zone",
	// 	data: [{% for i in data_CountStp_for_graph %}{{current_pacient.CountStp_zone_max}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'red',
	// 	pointBorderColor: 'transparent',
	// };

	// var dataSix = {
	// 	label: "trand_min",
	// 	data: [{% for i in data_CountStp_for_graph %} {{current_pacient.CountStp_trand_min}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'green',
	// 	pointBorderColor: 'transparent'
	// };

	// var dataSeven = {
	// 	label: "trand_max",
	// 	data: [{% for i in data_CountStp_for_graph %} {{current_pacient.CountStp_trand_max}},{% endfor %}],
	// 	lineTension: 0,
	// 	fill: false,
	// 	borderColor: 'green',
	// 	pointBorderColor: 'transparent'
	// };

	// arr_datasets = [dataFirst]

	// //Границы критических показателей
	// if(crit_check.checked){
	// 	arr_datasets.push(dataSecond);
	// 	arr_datasets.push(dataTherd);
	// }

	// //Границы развития тенденции
	// if(trand_check.checked){
	// 	arr_datasets.push(dataSix);
	// 	arr_datasets.push(dataSeven);
	// }

	// //Границы зоны риска
	// if(zone_check.checked){
	// 	arr_datasets.push(dataFif);
	// 	arr_datasets.push(dataFour);
	// }


	// var speedData = {
	// labels: [{{data_time_for_graph|safe}}],
	// datasets: arr_datasets,
	// };

	// var chartOptions = {
	// legend: {
	// 	display: true,
	// 	position: 'top',
	// 	labels: {
	// 	boxWidth: 1,
	// 	fontColor: 'black'
	// 	}
	// }
	// };
	// lineChart.destroy();
	// lineChart = new Chart(speedCanvas, {
	// type: 'line',
	// data: speedData,
	// options: chartOptions
	// });
}
</script>

<script>
setTimeout(function(){
   window.location.reload(1);
}, 50000);
$('.menu .item').tab();


$('#parameters').on('click', function(){
	let distance_min = $('#distance_min').val();
let distance_max = $('#distance_max').val();
	//if (distance_min < 0) {distance_min = 0}
	let urls = '/set-params-distance/{{current_pacient.id}}/?distance_min=' + distance_min + '&distance_max=' + distance_max
	$.ajax({
      type: 'GET',
      url: urls,
      success: function (data) { 
		alert('Данные были сохранены !')
	},
      error: function (jqXHR, text, error) {
        alert(error);
    }
    }); return false;
});

$('#parameters_trand').on('click', function(){
	let distance_trand_max = $('#distance_trand_max').val();
	let distance_trand_min = $('#distance_trand_min').val();
	console.log(distance_trand_max)
	console.log(distance_trand_min)
	let urls = '/set-params-trand-distance/{{current_pacient.id}}/?distance_trand_max=' + distance_trand_max + '&distance_trand_min=' + distance_trand_min
	$.ajax({
      type: 'GET',
      url: urls,
      success: function (data) { 
		alert('Данные были сохранены !')
	},
      error: function (jqXHR, text, error) {
        alert(error);
    }
    }); return false;
});

$('#parameters_zone').on('click', function(){
	let distance_zone_min = $('#distance_zone_min').val();
	let distance_zone_max = $('#distance_zone_max').val();
	//if (distance_min < 0) {distance_min = 0}
	let urls = '/set-params-zone-distance/{{current_pacient.id}}/?distance_zone_min=' + distance_zone_min + '&distance_zone_max=' + distance_zone_max
	$.ajax({
      type: 'GET',
      url: urls,
      success: function (data) { 
		alert('Данные были сохранены !')
	},
      error: function (jqXHR, text, error) {
        alert(error);
    }
    }); return false;
});

</script>

{% endblock %}
