{% extends "base_template.html" %}

{% block content %}

<div id="maincontent" class="ui main container">
    {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) ваш новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Новый пароль:</label>
            {{ form.new_password1 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Подтвердите Пароль:</label>
            {{ form.new_password2 }}
            <input type="submit" value="Сменить пароль" />

        </form>
    {% else %}
        <h1>Ошибка сброса пароля !</h1>
        <p>Ошибка сброса пароля, форма не валидна, пожалуйста попробуйте ввести пароль заново !</p>
    {% endif %}
</div>
{% endblock %}